* {
    padding: 0;
    margin: 0;
}

body {
    width: 100dvw;
    height: 100vh;
}

/* **************Navigation Menu************** */

nav {
    background-color: grey;
    padding: 5px;
}

nav ul{
    display: flex;
}

li {
    list-style: none;
    margin: 8px;
}

li a {
    padding: 8px 10px;
    border: 3px solid #393E46;
    border-radius: 20px;
    background-color: #393E46;
    color: #EEE;
    text-decoration: none;
}

/* #3a3d40 0%, #181719 */

nav ul li a:hover {
    border-color: #00ADB5;
}



.a {
    width: 100%;
    height: 100vh;
    background-color: #181719;
}


.b {
    width: 100dvw;
    height: 100vh;
    background-color: green;
}